.Order {
    width: 80%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    /* the auto in margin will makes the target horizontally centered */
    margin: 10px auto; 
    box-sizing: border-box;
}